.App {
  width:500px;
  border: 1px solid #ccc;
  margin:20px auto;
  text-align: center;
  padding:30px;
  box-sizing: border-box;
}
button{
  margin:0 10px;
  cursor: pointer;
  background-color: darkslateblue;
  color: #fff;
  border:0;
  padding:5px 10px;
}

input:focus, button:focus{
  outline: none;
}
ul{
  border:1px solid red;
 position: relative;
}
ul li{
text-align: left;
}

